# File Export
The identified transcrips can be exported in gtf format or as a table with additional information, with 
the [write_gtf](../isotoolsAPI.html?highlight=write_gtf#isotools.Transcriptome.write_gtf) 
and [transcript_table](../isotoolsAPI.html?highlight=transcript_table#isotools.Transcriptome.transcript_table) methods. Both methods accept all filtering functionality from iter_transcripts, allowing for flexible and fine grained filtering of the relevant transcripts. 

This tutorial demonstrates the export functionality with the prepared transcriptome .pkl file from [here](https://oc-molgen.gnz.mpg.de/owncloud/s/gjG9EPiQwpRAyg3).

In [1]:
from isotools import Transcriptome
import matplotlib.pyplot as plt

path='demonstration_dataset'
isoseq=Transcriptome.load(f'{path}/PacBio_isotools_substantial_isotools.pkl')

This is isotools version 0.3.2rc6, but data has been pickled with version 0.3.2rc2, which may be incompatible

In [2]:
# export gtf:
isoseq.write_gtf(f'{path}/demonstration_dataset_substantial_transcripts.gtf.gz', source='isoseq', min_coverage=5,  gzip=True, query='SUBSTANTIAL and not (NOVEL_TRANSCRIPT and UNSPLICED)')

In [3]:

# export transcript table with the same filter criteria:
transcript_tab=isoseq.transcript_table( groups=isoseq.groups(),tpm=True,coverage=True,  min_coverage=5, progress_bar=True, query='SUBSTANTIAL and not (NOVEL_TRANSCRIPT and UNSPLICED)')
# write to csv file
transcript_tab.to_csv(f'{path}/demonstration_dataset_substantial_transcripts.csv.gz', index=False, sep='\t')
#show the first lines
transcript_tab.head()

100%|██████████| 10803/10803 [00:00<00:00, 24358.25genes/s]

,chr,transcript_start,transcript_end,strand,gene_id,gene_name,transcript_nr,transcript_length,num_exons,exon_starts,exon_ends,novelty_class,novelty_subclasses,GM12878_sum_coverage,K562_sum_coverage,GM12878_sum_tpm,K562_sum_tpm
0,chr8,15540262,15764483,+,ENSG00000104723.21,TUSC3,17,1477,10,"15540262,15623079,15650696,15659506,15662155,1...","15540568,15623249,15650814,15659647,15662296,1...",FSM,FSM,0,226,0.0,1045.555694
1,chr8,15540262,15758274,+,ENSG00000104723.21,TUSC3,18,1506,11,"15540262,15623079,15650696,15659506,15662155,1...","15540568,15623249,15650814,15659647,15662296,1...",NIC,novel combination,0,20,0.0,92.527053
2,chr8,15540262,15764483,+,ENSG00000104723.21,TUSC3,19,1542,11,"15540262,15623079,15650696,15659506,15662155,1...","15540568,15623249,15650814,15659647,15662296,1...",FSM,FSM,0,52,0.0,240.570337
3,chr8,15540262,15758274,+,ENSG00000104723.21,TUSC3,21,1441,10,"15540262,15623079,15650696,15659506,15662155,1...","15540568,15623249,15650814,15659647,15662296,1...",NIC,exon skipping,0,20,0.0,92.527053
4,chr8,15540262,15764646,+,ENSG00000104723.21,TUSC3,26,1549,9,"15540262,15623079,15650696,15659506,15662155,1...","15540568,15623249,15650814,15659647,15662296,1...",FSM,FSM,0,6,0.0,27.758116